*
{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: transparent;
    scroll-behavior: smooth;
}

h1
{
  font-family: 'Oswald', sans-serif;
  padding-bottom: 0.5%;
  font-size: 7vh;
}

h2
{
    padding: 1vh; 
    text-align: center;
    color: white ;
    text-decoration: underline;
    background-color: rgb(17, 17, 40);
}

h3
{
color: white;
}

h4
{
color: white;
}

hr
{
  border-width: 3px;
}


.debut
{
z-index: 1000;
position: fixed;
bottom: 6vh;
right: 5vh;
}


/* DEBUT CSS MENU */
.header 
{
  z-index: 1000;
  position: sticky;
   top: 0px;
   margin:auto;
   width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  background-color:rgb(36, 36, 36);  
}


.logo
{
  width: 6vh;
  height: 6vh;
  margin-left: 3%; 
}

.header nav
{
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.header ul
{
    color: white;
    justify-content: center;
    margin-left: 5%; 
}

.header li 
{
    display: inline-block; 
    font-size: 15px;
    margin-right: 7vh;
}

.header li a
{
  text-decoration: none;
  color: white;
}
/* FIN CSS MENU */



/*DEBUT CSS INTRO*/

#container
{
  background-image: url(public/nuit2.png);
  background-size: cover;
  height: 75vh;
  width: 100%;
}

.intro h1
{
  margin-top: 8vh;
  margin-left: 3%;
  color: white;
}

.intro p 
{
  font-size: 1px;
  color: white;
  margin-left: 3%;
  font-size: large;
  text-justify: auto;
  width: 70%;
}

/*FIN CSS INTRO*/

/*DEBUT CSS PROJET*/

#projet
{
  height: 50vh;
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

#projet .projet1 , .projet2 , .projet3 , .projet4 , .projet5 , .projet6
{ 
  margin: 1vh;   
  margin-left: 3%;  
  display: flex;
  align-items: center;
}

#projet img
{
  display: flex;
  justify-content: center;
  background-image: url(public/etoile.jpg);
  background-size: cover;
  border-radius: 50%;
  filter: grayscale(100%);

}

#projet img:hover
{
    transition: 0.6s;
    -webkit-transform:scale(1.05);
    filter: grayscale(0%);
}

#projet ::-webkit-scrollbar-x
{
  display: inline;
}
/*FIN CSS PROJET */

/* DEBUT CSS PARCOURS*/

#parcours,.parcours3
{
  
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
  padding: 2vh;
}

#parcours2
{
background-image: url(public/nuit3.png);
}
.bac , .snir , .sio, .licence
{
  background-color: white;
    width: 450px;
    margin: 3vh;
    padding: 1vh;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);

  }

.bac:hover , .snir:hover , .sio:hover , .licence:hover
{
  -webkit-transform:scale(1.08);
  transition: 0.6s;
}

#parcours h2, h3,.parcours3 h2, h3
{

  color: #001994;
  background-color: transparent;
  text-decoration: none;
}

#parcours h4,.parcours3 h4
{
  color: black;
}

/*FIN CSS PARCOURS*/

/* DEBUT CSS PARCOURS PRO*/
#pro
{
  background-color: rgb(20, 20, 20);
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
}

 .xp1, .xp2
{
    width: 450px;
    margin: 3vh;
    padding: 1vh;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    color: black;

} 
#pro h2, h3
{

  color: #001994;
  background-color: transparent;
  text-decoration: none;
}



.xp1:hover , .xp2:hover
{
  -webkit-transform:scale(1.10);
  transition: 0.6s;
}

#pro  h4
{
  padding: 0.5vh;
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/* FIN CSS PARCOURS PRO*/


/*DEBUT CSS COMPETENCE*/

#competence
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55vh;
  background-image: url(public/nuit4.png);
  background-size: cover;
}

.competence1, .competence2, .competence3, .competence4, .competence5, .competence6
{
  /*   border: 5px solid greenyellow;*/
  display: flex;
  flex-direction: column;
  height: 45vh;
  width: 25vh;
  margin: 2vh;
}

.competence1 p:hover, .competence2 p:hover, .competence3 p:hover, .competence4 p:hover, .competence5 p:hover, .competence6 p:hover
{
  -webkit-transform:scale(1.15);
  transition: 0.6s;
}

.competence1  p, .competence2 p, .competence3 p, .competence4 p, .competence5 p, .competence6 p
{
  white-space: nowrap;
  text-align: center;
  font-weight: bolder;
  color: black;
  background-color: white;
  margin: 1vh;
  margin-bottom: 4vh;
  padding: 1.5vh 0.5vh;
  border: 3px solid ;
  border-radius: 7%;
}

/*FIN CSS COMPETENCE*/


/* DEBUT CSS FOOTER*/

.footer
{
  list-style: none;
  align-items: center;
  background-color: rgb(20, 20, 20);
  display:flex;
  flex-direction: row;
  padding-left: 3%;
}



.reseaux
{
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reseaux img
{
  margin: 1vh;
}

.image
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25vh;
  padding: 2vh;
  margin-right: 40vh;
}


.pages
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.page1 li a,.page2 li a
{
  font-weight: bold; 
  text-decoration: none;
  color: white;
}

.page1 li, .page2 li
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  margin-right: 30vh;
}