*
{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: transparent;
    scroll-behavior: smooth;
}

h1
{
  font-family: 'Oswald', sans-serif;
  padding-bottom: 0.5%;
  font-size: 7vh;
}

h2
{
    padding: 1.5vh; 
    text-decoration: underline;
    background-color: rgb(17, 17, 40);
    text-align: center;
    color: white ;
}

h3,h4
{
color: white;
}

.debut
{
  z-index: 1000;
  position: fixed;
  bottom: 6vh;
  right: 5vh;
  width: 4vh;
  height: 4vh;
}


/* DEBUT CSS MENU */
.header 
{
  z-index: 1;
  position: sticky;
   top: 0px;
   margin:auto;
   width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  background-color:rgb(36, 36, 36);  
}

.logo
{
  width: 6vh;
  height: 6vh;
  margin-left: 3%; 
}

.header nav
{
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.header ul
{
    color: white;
    justify-content: center;
    margin-left: 5%; 
}

.header li 
{
    display: inline-block; 
    font-size: 2vh;
    font-weight: 600;
    margin-right: 7vh;
}

.header li:hover
{
  transform:scale(1.10);
  transition: 0.6s;
}

.header li a
{
  text-decoration: none;
  color: white;
}
/* FIN CSS MENU */



/*DEBUT CSS INTRO*/

#container
{
background-color: rgb(20, 20, 20);
  height: 45vh;
  width: 100%;
}

.intro h1
{
  margin-top: 8vh;
  margin-left: 7%;
  color: white;
}

.intro p 
{
  font-weight: 600;
  color: white;
  margin-left: 7%;
  font-size: medium;
  text-justify: auto;
  width: 60%;
}

/*FIN CSS INTRO*/

/*DEBUT CSS COMPETENCE*/

#competence ::-webkit-scrollbar-x
{
  display: inline;
}
#competence
{
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70vh;
  background-image: url(public/third.jpg);
  background-size: cover;
  overflow-x: scroll;

}

.competence1, .competence2, .competence3, .competence4, .competence5, .competence6, .competence7, .competence8
{
  border-radius: 3%;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5vh;
  padding-right : 1vh;
  padding-left: 1vh;
  padding-bottom: 0.5vh;
  padding-top: 1vh;
  background-color: rgb(233, 233, 233);
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);

 }

.competence1:hover, .competence2:hover, .competence3:hover, .competence4:hover, .competence5:hover, .competence6:hover, .competence7:hover, .competence8:hover
{
  transform:scale(1.03);
  transition: 0.6s;
}

.competence1  p, .competence2 p, .competence3 p, .competence4 p, .competence5 p, .competence6 p,.competence7  p,.competence8  p
  
{
  margin: 1vh;
  white-space: nowrap;
  text-align: center;
  font-weight: bolder;
  color: white;
  background-color: rgb(21, 6, 106);
  margin-bottom: 3vh;
  padding: 2vh;
  border: 3px solid black;
  border-radius:8%;
}

.c1,.c2,.c3,.c4,.c5
{
  display: flex;
  flex-direction: row;
}

/*FIN CSS COMPETENCE*/

/* DEBUT CSS PARCOURS*/

#parcours2
{
  filter: grayscale(60%);
  height: 65vh;
  background-image: url(public/first.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#parcours,.parcours3
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
  padding: 2vh;
}

.bac , .snir , .sio, .licence
{
    background-color: white;
    width: 65vh;
    margin: 3vh;
    padding: 2vh;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
}

.bac:hover , .snir:hover , .sio:hover , .licence:hover
{
  transform:scale(1.08);
  transition: 0.6s;
}

#parcours h2, h3,.parcours3 h2, h3
{

  color: #000d4b;
  background-color: transparent;
  text-decoration: none;
}

#parcours h4,.parcours3 h4
{
  color: black;
}

/*FIN CSS PARCOURS*/

/* DEBUT CSS PARCOURS PRO*/
#pro
{
  background-color: rgb(20, 20, 20);
  background-size: cover;
  height: 35vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
}

 .xp1, .xp2
{
    width: 65vh;
    margin: 3vh;
    padding: 1vh;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    color: black;

} 
#pro h2, h3
{

  color: #050f46;
  background-color: transparent;
  text-decoration: none;
}



.xp1:hover , .xp2:hover
{
  transform:scale(1.10);
  transition: 0.6s;
}

#pro  h4
{
  padding: 0.5vh;
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/* FIN CSS PARCOURS PRO*/


/*DEBUT CSS PROJET*/

.tbcompet a
{
  font-weight: 600;
  background-color: rgb(17, 17, 40);
  display: flex;
  justify-content: center;
  color: white ;
  text-decoration: none; 
  padding-bottom: 1.5vh;
}

.tbcompet a:hover {
  color: white; 
}

.tbcompet a:visited {
  color: white; 
}

#projet
{
  height: 50vh;
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

#projet .projet1 , .projet2 , .projet3 , .projet4 , .projet5 , .projet6
{ 
  margin: 1vh;   
  margin-left: 3%;  
  display: flex;
  align-items: center;
}

#projet img
{
  display: flex;
  justify-content: center;
  background-image: url(public/etoile.jpg);
  background-size: cover;
  border-radius: 50%;
  filter: grayscale(100%);

}

#projet img:hover
{
    transition: 0.6s;
    transform:scale(1.05);
    filter: grayscale(0%);
}

#projet ::-webkit-scrollbar-x
{
  display: inline;
}
/*FIN CSS PROJET */


/* DEBUT CSS FOOTER*/

.footer
{
  list-style: none;
  align-items: center;
  background-color: rgb(20, 20, 20);
  display:flex;
  flex-direction: row;
  padding-left: 3%;
}



.reseaux
{
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reseaux img
{
  margin: 1vh;
}

.image
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25vh;
  padding: 2vh;
  margin-right: 40vh;
}


.pages
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.page1 li a,.page2 li a
{
  font-weight: bold; 
  text-decoration: none;
  color: white;
}

.page1 li, .page2 li
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  margin-right: 30vh;
}
